@import "tailwindcss";

@theme {
  --color-primary: #2563eb;      
  --color-primary-hover: #1d4ed8; 
  --color-primary-light: #eff6ff; 
  --color-accent: #facc15;
  --color-accent-text: #713f12;

  --color-page-bg: #f8fafc;      
}

body {
  background-color: var(--color-page-bg); 
  color: #1a202c; 
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}